body {
  margin: 0 24px;
  .app {
    display: flex;
    flex-direction: column;
    .container--chart {
      height: 200px;
      display: flex;
      gap: 20px;
      margin-top: 2px;
      .card {
        width: 160px;
        height: 200px;
        background: #fff;
        border-radius: 10px;
        padding: 16px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
        text-align: center;
      }

      .card h3 {
        font-size: 14px;
        color: #444;
        margin-bottom: 10px;
      }

      .circular-chart {
        width: 90px;
        height: 90px;
        margin: 0 auto;
      }

      .circle-bg {
        fill: none;
        stroke: #f0f1f4;
        stroke-width: 3.8;
      }

      .circle {
        fill: none;
        stroke-width: 3.8;
        stroke-linecap: round;
        stroke: #3b82f6;
        transform-origin: center;
      }
      .green{
        stroke: #a0ea8b;
      }
      .yellow{
        stroke: #f2d805;
      }
      .red{
        stroke: #ef4c38;
      }
      .percentage {
        fill: #2563eb;
        font-size: 8px;
        text-anchor: middle;
        font-weight: 600;
      }

      .order-info {
        margin-top: 8px;
      }

      .total-order {
        display: block;
        font-size: 11px;
        color: #9ca3af;
        letter-spacing: 0.5px;
      }

      .order-count {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #111;
      }
    }
    .container--table {
      height: 400px;
      margin-top: 20px;
    }
    .container--graph {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.dashboard-extension-container{
    height: 735px !important;
}